*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Serif Pro', serif;
    margin-right: 5%;
    margin-left: 3%;
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to right, #14213d, #2c4660, #4b6d83, #7097a6, #9ac2c9);
    justify-content: flex-start;
}

.div1{
    color: #E5E5E5;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.div2{
    flex: 2 1 auto;
    height: 500px;
    align-self: center;

}
.div3{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.descri{
    

}
.but{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
button{
    background-color: #738290;
    border-radius: 20%;
    border: solid 2px ;
    width: 150%;
    height: auto;
    margin: 10%;
    margin-right: 50%;
    padding: 20%;

}
button:hover{
    background-color: #14213d;
    color: #E5E5E5;
}
#photo{
    max-width: max-content;
    max-height: 500px;
    height: auto;
    width: auto;

}