body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("veryOldComputer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div{
    background-image: linear-gradient(to right bottom, #8e8e8e, #7c7c7c, #6b6b6b, #595959, #494949);
    height: 400px;
    width: 750px;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
    display: flex;
}
div{
    display: flex;
    justify-content: space-between;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
p{
    margin-left: 40px;
}
#github{
    margin-left: 60px;
}

a{
    color: #494949;
}
a:hover{
    color: white;
}
a:visited{
    color: black;
}
.titre{
    font-family: 'EB Garamond', serif;
    font-size: x-large;
}
h1{
    font-family: 'EB Garamond', serif;
    margin-left: 100px;
}
h2{
    margin-left: 50px;
}
h3{
    font-family: 'EB Garamond', serif;
    margin-right: 50px;
}