*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    
}

header{
    margin-top: 2%;
    border: solid 3px green;
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto ;
    
}

.childh1{
    border: solid 3px grey;
    flex: 1 1 auto;
}
.childh2{
    border: solid 3px red;
    flex: 1 1 auto;
    
}
.childh3{
    border: solid 3px blue;
    flex: 1 1 auto;
    
}

footer{
    border: solid 3px red;
    display: flex;
    flex: 1  1 auto;
    
}
.divi{
    flex: 4 1 auto;
    border: solid 3px yellow;
}